


/* External CSS: styles.css */

.box {
    width: 300px;             /* ელემენტის შიგთავსის სიგანე */
    height: 200px;            /* ელემენტის შიგთავსის სიმაღლე */
    
    padding: 20px;            /* შიგთავსსა და საზღვარს შორის შუალედი */
    
    border: 5px solid blue;   /* ელემენტის საზღვარი */
    
    margin: 30px;             /* ელემენტსა და მის გარშემო მყოფ სხვა ელემენტებს შორის შუალედი */
    
    background-color: rgb(255, 0, 0); /* ფონის ფერი */
}
