



/* Div Blockis gastilva */
.box {
    
    width: 300px;    
    height: 150px;   

    
    padding: 20px;   

    
    border: 2px solid black;  

  
    margin: 30px;    

    
    background-color: #ff0000; 
}


/*ეს არის ელემენტის შიგთავსი, რომელშიც მოთავსებულია პარაგრაფი სიგანე  და სიმაღლე  განსაზღვრავს შიგთავსის ზომას.
Padding 

პადინგი ქმნის დაშორებას შიგთავსსა და ბორდერს შორის. მოცემულ მაგალითში, პადინგი არის 20px.
Border 

ბორდერი არის ელემენტის გარშემო საზღვრის ხაზი. მას აქვს 2px სისქე, შავი ფერი და მყარი სტილი.
Margin 

მარჯინი განსაზღვრავს გარე დაშორებას ელემენტსა და მის მეზობელ ელემენტებს შორის. მოცემულ მაგალითში, მარჯინი არის 30px.*/