
/* პირველი ბლოკი */
.box1 {
    box-sizing: border-box; /* განუსაზღვრელი მოდელი */
    width: 300px; /* შიგთავსის სიგანე */
    height: 200px; /* შიგთავსის სიმაღლე */
    padding: 20px; /* შიდა საზღვრები */
    border: 8px solid #333; /* საზღვრები */
    margin: 15px; /* გარე საზღვრები */
    background-color: #f8b400; /* ფონური ფერი */
}

/* მეორე ბლოკი */
.box2 {
    box-sizing: border-box; /* განუსაზღვრელი მოდელი */
    width: 220px; /* შიგთავსის სიგანე */
    height: 140px; /* შიგთავსის სიმაღლე */
    padding: 10px; /* შიდა საზღვრები */
    border: 5px dashed #007bff; /* საზღვრები */
    margin: 20px; /* გარე საზღვრები */
    background-color: #ff6f61; /* ფონური ფერი */
}

/* პირველი ბლოკის ტექსტი */
.text1 {
    color: #ffffff; /* ტექსტის ფერი */
    font-size: 18px; /* ტექსტის ზომა */
    text-align: center; /* ტექსტის გაანაწილება ცენტრში */
    margin: 0; /* მარჟინის გაწყვეტა */
    padding: 0; /* პადინგის გაწყვეტა */
}

/* მეორე ბლოკის ტექსტი */
.text2 {
    color: #ffffff; /* ტექსტის ფერი */
    font-size: 16px; /* ტექსტის ზომა */
    text-align: center; /* ტექსტის გაანაწილება ცენტრში */
    margin: 0; /* მარჟინის გაწყვეტა */
    padding: 0; /* პადინგის გაწყვეტა */
}
