


/* Base Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana ;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.product-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 320px;
    text-align: center;
    transition: transform 0.3s;
}

.product-container:hover {
    transform: scale(1.03);
}

.product-image img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f0f0f0;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 1.4em;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.product-description {
    color: #666;
    margin: 10px 0;
    font-size: 0.95em;
    line-height: 1.5;
}

.product-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.product-button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}
