
body {
    font-family: Arial, sans-serif;
    background-color: #f5d04e; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    border: 1px solid black; 
    box-shadow: 10px 10px 0px 0px black; 
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.content {
    padding: 15px;
    text-align: left; 
}

.label {
    display: inline-block;
    background-color: #dbbc22;
    color: black; 
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.date {
    font-size: 12px;
    color: #757575;
    margin-top: 5px;
}

h2 {
    font-size: 20px;
    color: black; 
    margin-top: 10px;
}

.description {
    font-size: 14px;
    color: #757575;
    margin: 10px 0;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
