body{   
    font-family: Arial, sans-serif;
    background: #e0f7fa;
    padding: 20px;
    text-align: center;
}


.weather-app{   
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;

}

.day{   
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.day:last-child{   
    border-bottom: none;
}